<!DOCTYPE html>
<html lang="pt-pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar Livros</title>
  </head>
  <body>
    <table style="border: 1px solid black; margin-top: 20px;">
        <thead>
            <th style="border: 1px solid black;">ID</th>
            <th style="border: 1px solid black;">Nome</th>
            <th style="border: 1px solid black;">Idioma</th>
            <th style="border: 1px solid black;">ISBN</th>
            <th style="border: 1px solid black;">Download</th>
        </thead>
        <tbody>
            <div class="content">
                <% if (livros.length > 0) { %> <% livros.forEach(livro => { %>
                <tr>
                  <td style="border: 1px solid black;"><%= livro.id %></td>
                  <td style="border: 1px solid black;"><%= livro.nome %></td>
                  <td style="border: 1px solid black;"><%= livro.idioma %></td>
                  <td style="border: 1px solid black;"><%= livro.isbn %></td>
                  <td style="border: 1px solid black;"><button><a href="./download/<%= livro.id %>">Download</a></button></td>
                </tr>
          
                <% }) %> <% } else { %>
                <tr>
                  <td style="border: 1px solid black;"></td>
                  <td style="border: 1px solid black;">Não há motoristas para exibir</td>
                  <td style="border: 1px solid black;"></td>
                  <td style="border: 1px solid black;"></td>
                  <td style="border: 1px solid black;"></td>
                </tr>
                <% } %>
              </div>
        </tbody>
    </table>
  </body>
</html>
